---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("Nov 14 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>ตรงนี้จะแนะนำผู้ที่เยี่ยมชมเว็บ มันอาจจะพูดถึงบางสิ่งประมาณนี้:</p>

  <p>นามของข้าคือชาโดว์ ผู้ที่ซ่อนเร้นในเงา และไล่ล่าเงา</p>
  <p>
    หรือจะเป็น บทประมาณนี้ว่า:
    ฉันล่ะเกลียดไอพวกสัตว์กินพืชอ่อนปวกเปียกที่ชอบอยู่รวมกันเป็นฝูงนัก
    เห็นอยู่ในสายตาทีไร เป็นต้องเกิดอารมณ์อยากขย้ำขึ้นมาทุกที
  </p>
</Layout>
