---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Hello, Astronaut!</h1>
			
			<p>ตรงนี้ก็ต้องเป็นบทพูดเบียวๆ ประมาณว่า:</p>
			<ul>
				<li><code>นามของข้าคือชาโดว์ ผู้ที่ซ่อนเร้นในเงา และไล่ล่าเงา</code></li>
				<li><code>สมบัติของฉันน่ะเหรอ ถ้าอยากได้ก็เอาไปซิ ไปหาเอาเลย ฉันเอาทุกอย่างบนโลกไปไว้ที่นั้นหมแล้ว</code></li>
			</ul>
			
			
		</main>
		<Footer />
	</body>
</html>
